{% if user.is_authenticated %}
    <li>
        <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
        <p><strong>Fecha de Registro:</strong> {{ usuario.fecha_registro|date:"d-m-Y" }}</p>
        <p><strong>Email:</strong> {{ usuario.email }}</p>

        {% if perms.alquiler.change_usuario %}
            <!-- Si el usuario tiene permiso para editar la información del usuario -->
            <a href="{% url 'usuario_editar' usuario.id %}">Editar</a>
        {% endif %}
        
        {% if perms.alquiler.delete_usuario %}
            <!-- Si el usuario tiene permiso para eliminar la cuenta del usuario -->
            <a href="{% url 'usuario_eliminar' usuario.id %}">Eliminar</a>
        {% endif %}
    </li>
{% else %}
    <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver tu información.</p>
{% endif %}
