{% if user.is_authenticated %}
    <li>
        <p><strong>Fecha de Inicio:</strong> {{ reserva.fecha_inicio|date:"d-m-Y" }}</p>
        <p><strong>Fecha de Fin:</strong> {{ reserva.fecha_fin|date:"d-m-Y" }}</p>
        <p><strong>Total:</strong> {{ reserva.total }}</p>
        <p><strong>Estado:</strong> {{ reserva.estado }}</p>
        
        <h3>Perfil del Cliente:</h3>
        <p>{{ reserva.perfil.usuario.nombre }} - {{ reserva.perfil.usuario.email }}</p>

        {% if perms.alquiler.change_reserva %}
            <!-- Si el usuario tiene permiso para editar la reserva -->
            <a href="{% url 'reserva_editar' reserva.id %}">Editar</a>
        {% endif %}
        
        {% if perms.alquiler.delete_reserva %}
            <!-- Si el usuario tiene permiso para eliminar la reserva -->
            <a href="{% url 'reserva_eliminar' reserva.id %}">Eliminar</a>
        {% endif %}
    </li>
{% else %}
    <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver los detalles de la reserva.</p>
{% endif %}
