{% extends "principal.html" %}

{% block contenido %}
    {% if user.is_authenticated %}
        <h1>Eliminar Servicio</h1>
        {% if perms.alquiler.delete_servicioextra %}
            <form method="post">
                {% csrf_token %}
                <p>¿Estás seguro de que deseas eliminar el Servicio {{ servicioextra.nombre }}?</p>
                <button type="submit">Sí, eliminar</button> 
                <a href="{% url 'servicioextra_lista' %}">Cancelar</a>
            </form>
        {% else %}
            <p>No tienes permisos para eliminar este servicio.</p>
        {% endif %}
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para continuar.</p>
    {% endif %}
{% endblock contenido %}
