{% extends 'principal.html' %}
{% block contenido %}
    {% if user.is_authenticated %}
        <h1>Actualizar Prioridad</h1>
        
        {% if perms.alquiler.change_prioridad %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Actualizar</button>
            </form>
        {% else %}
            <p>No tienes permisos para actualizar prioridades.</p>
        {% endif %}
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para poder actualizar.</p>
    {% endif %}
{% endblock %}
