{% extends 'principal.html' %}
{% block contenido %}
    <h1>Actualizar Propiedades</h1>

    {% if user.is_authenticated %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Actualizar</button>
        </form>

        {% if perms.alquiler.change_propiedad %}
            <!-- Si el usuario tiene permiso para editar la propiedad -->
            <a href="{% url 'propiedad_lista' %}">Volver a la lista de propiedades</a>
        {% endif %}
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para actualizar la propiedad.</p>
    {% endif %}
{% endblock %}
