{% extends "principal.html" %}
{% block contenido %}
    <h1>Categoría: {{ categoria.nombre }}</h1>
    <p><strong>Descripción:</strong> {{ categoria.descripcion }}</p>
    
    {% if user.is_authenticated %}
        {% if perms.alquiler.view_propiedad %}
            <h2>Propiedades</h2>
            <ul>
                {% for propiedad in categoria.propiedades.all %}
                    {% include "plantillas/plantilla_detalle_categoria.html" %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No tienes permiso para ver las propiedades de esta categoría.</p>
        {% endif %}
    {% else %}
        <p>No estás logueado. Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver las propiedades.</p>
    {% endif %}
{% endblock %}
